#main_container
  .container#main_content
    .card-panel.black-text.thin_300
      %h1 Listing blogs
      
      %table
        %thead
          %tr
            %th Title
            %th Body
      
        %tbody
          - @blogs.each do |blog|
            %tr
              %td= link_to blog.title,blog
              %td= truncate(blog.body)
