%header.navbar-fixed.under_cover
  %nav.nav-wrapper
    = link_to "Season's Call",:root,class: "brand-logo center white-text lato thin_300"
    %a(href="#" data-activates="mobile-demo" class="button-collapse" id="menu_posit all_time_show")
      %i.material-icons menu
      
    %a(href="/searches" class="right get_right waves-effect")
      %i.material-icons search
      
    %ul.side-nav#mobile-demo
      = render "parts/header_menu" 
:css
  .under_cover{
    background: "/designs/blur.png"
  }
