%header.navbar-fixed.under_cover
  %nav.nav-wrapper
    = link_to @title,:root,class: "brand-logo center white-text family_select thin_300"

:css
  .under_cover{
    background: "/designs/blur.png"
  }
