.card-panel.black-text.thin_300.lato
  .container
    %h2 ログイン
    = form_tag sign_in_process_users_path do
      .input-field
        = email_field :user,:email
        %label(name="email") メールアドレス
      .input-field
        = password_field :user,:password
        %label(name="password") passwd
      .input-field
        = submit_tag("Sign in",class: "btn btn-large blue")
