#main_container
  #main_content
    %article.container.about_card
      %h1.center-align.lato 
        ようこそ
        %br/
        %span.amber-text.thin_300 Seasons'sCall
        へ
    
    %article.container.about_card
      .card-panel
        %h1 概要
        %p
          このWEBサイトはUGによって作成＆運営されています。
          %br/
          Seasons'sCallのトップページや背景は和歌山県御坊市にある山と風車をモチーフに制作されています。
          これはUGが和歌山生まれ和歌山育ちでこの風景が県下でもっともお気に入りのスポットの１つだからです(*´∀｀*)
          %br/
          Seasons'sCallはUGのブログ＆ポートフォリオとして利用していく予定ですが、ちょくちょく難しいことや歴史なんかも書いていこうと思ってます。
          もしかしたら自作の小説なんかも作品集に加えられるかもしれません(∩´∀｀)
          
    %article.container.about_card
      .card-panel
        %h1 作者プロフィール
        %p
          20歳からプログラミングを学び始めるも難しくて挫折すること数度、３年を経てようやく理解の糸口を掴み独立。
          %br/
          一時国内で仕事をするためにはPHPの習得が必須でありRubyは邪道と言われ激怒、それ以来Ruby、Nodejsをメインに開発を続ける。
          （当人はC言語やPythonが好きでPHPはよくわかっていない。）
          
          %br/
          2015年にGo言語に出会い衝撃を受けるも未だに参考書を読んだ程度で何も作っていない。（いずれのこのサイトをGoで書き直す予定だ！）
          普段はピアノや読書、散歩を趣味としテレビは全く見ない。買ってすらいない。
          プログラミングをしているときは脳が開放されているように感じするため楽しんでいる。
          %br/
          2016年、おもむろに自転車に乗りはじめる。
          会社の健康診断でコレステロール値が上がってきてたことに恐怖を覚えたので始めたがドハマリする。
          9/1に購入し２ヶ月後にはレースに出場する。レース後に若干燃え尽き症候群を発症するもなんとか乗り切り中。
          ３ヶ月めには４０キロの世界に入門できるかもしれない。
          %br/
          愛する趣味は「プログラミング」,「ピアノ」,「自転車」
          どれか１つがうまく行ってもだめだ。
          全部上手にこなしていくんだ
          = link_to "Githubリポジトリ（役に立つ物はない）","https://github.com/suzaku183",class: "indigo-text"
    
    %article.container.about_card
      .card-panel
        %h1 名前の由来
        %p 
          Seasons'sCallという名前は和歌山出身のhide様の楽曲にあやかっています。
          %br/
          Seasons'sCallはニュースやブログ、作品集、背景の移り変わりなど四季折々の情報や風景をこのサイトでお伝えしたいという意図もありURLとして命名しました。
          %br/
          ちなみにhide様のこの曲は私の大好きなアニメ『BLOOD+』のOPにも利用されておりとても思い出深い曲です。
    
    %article.container.about_card
      .card-panel
        %h1 著作権
        %p
          このサイトにアクセスいただくと時間や季節にあわせた音楽が流れていることと思います。
          %br/
          これは運営者のUGが演奏し録音し音源として利用しています。
          %br/
          プログラマとして、ハッカー（悪いことをするハッカーではなく良い方の意味で）を目指しているUGとしては
          このサイトのソースコード、すべてGNUライセンスで公開しています。(ただし背景の山の画像だけは使用不可です！)
          流れている演奏も自由にご利用ください。ただしサーバ負荷を考慮して直リンクはご遠慮ください(*´∀｀*)
          %br/
          Seasons'sCall上で演奏されている楽曲は下記のとおりです（順不同）
          %ul
            - %W{月の光(ドビュッシー) 愛の夢(フランツ・リスト) 別れの曲(ショパン)}.each do |song|
              %li= song
:css
  .grad_background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,2aea6d+50,d2f7e9+100 */
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(top, #b3dced 0%, #2aea6d 50%, #d2f7e9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b3dced 0%,#2aea6d 50%,#d2f7e9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b3dced 0%,#2aea6d 50%,#d2f7e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#d2f7e9',GradientType=0 ); /* IE6-9 */

  }
