%article.container.about_card.shadow
  %h1.center-align.lato 
    ようこそ
    %br/
    Seasons'sCallへ！

%article.container.about_card.shadow
  %h1 概要
  %p
    このWEBサイトはUGによって作成＆運営されています。
    %br/
    Seasons'sCallのトップページや背景は和歌山県御坊市にある山と風車をモチーフに制作されています。
    これはUGが和歌山生まれ和歌山育ちでこの風景が県下でもっともお気に入りのスポットの１つだからです(*´∀｀*)
    %br/
    Seasons'sCallはUGのブログ＆ポートフォリオとして利用していく予定ですが、ちょくちょく難しいことや歴史なんかも書いていこうと思ってます。
    もしかしたら自作の小説なんかも作品集に加えられるかもしれません(∩´∀｀)
    
%article.container.about_card.shadow
  %h1 名前の由来
  %p 
    Seasons'sCallという名前は和歌山出身のhide様の楽曲にあやかっています。
    %br/
    Seasons'sCallはニュースやブログ、作品集、背景の移り変わりなど四季折々の情報や風景をこのサイトでお伝えしたいという意図もありURLとして命名しました。
    %br/
    ちなみにhide様のこの曲は私の大好きなアニメ『BLOOD+』のOPにも利用されておりとても思い出深い曲です。

%article.container.about_card.shadow
  %h1 著作権
  %p
    このサイトにアクセスいただくと時間や季節にあわせた音楽が流れていることと思います。
    %br/
    これは運営者のUGが演奏し録音し音源として利用しています。
    %br/
    プログラマとして、ハッカー（悪いことをするハッカーではなく良い方の意味で）を目指しているUGとしては
    このサイトのソースコード、背景の画像などすべてGNUライセンスで公開しています。
    もちろんそこには背景で流れている演奏も含まれますので自由に利用下さい(*´∀｀*)
    %br/
    Seasons'sCall上で演奏されている楽曲は下記のとおりです（順不同）
    %ul
      - %W{月の光(ドビュッシー) 愛の夢(フランツ・リスト) 別れの曲(ショパン)}.each do |song|
        %li= song
