
:css
  #main_container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 0px;
    z-index: 180;
  }
  #main_content{
    z-index: 180;
  }
  .windmill{
    width: 12%;
    height: 18%;
    position: fixed;
    bottom: 14%;
    z-index: 6;
  }
  #the_world{
    position: fixed;
    top: 0px;
    left: 0px;
  }
  #mountain{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70%;
    z-index: 18;
  }
  .star{
    position: fixed;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 18px;
  }
  .morning_sky{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.88, #20d9ff), color-stop(0.01, #2959ff));
    background: -webkit-linear-gradient(top, #2959ff 1%, #20d9ff 88%);
    background: -moz-linear-gradient(top, #2959ff 1%, #20d9ff 88%);
    background: -o-linear-gradient(top, #2959ff 1%, #20d9ff 88%);
    background: -ms-linear-gradient(top, #2959ff 1%, #20d9ff 88%);
    background: linear-gradient(to bottom, #2959ff 1%, #20d9ff 88%);
  }
  .sunset_sky{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #da0b20), color-stop(0.39, #aa0813), color-stop(0.01, #2b1390));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #da420b), color-stop(0.32, #aa0813), color-stop(0.01, #2b1390));
    background: -webkit-linear-gradient(top, #2b1390 1%, #aa0813 32%, #da420b 100%);
    background: -moz-linear-gradient(top, #2b1390 1%, #aa0813 32%, #da420b 100%);
    background: -o-linear-gradient(top, #2b1390 1%, #aa0813 32%, #da420b 100%);
    background: -ms-linear-gradient(top, #2b1390 1%, #aa0813 32%, #da420b 100%);
    background: linear-gradient(to bottom, #2b1390 1%, #aa0813 32%, #da420b 100%);

  }
  .night_sky{
     background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #083268), color-stop(0.01, #2b29b3));
     background: -webkit-linear-gradient(top, #2b29b3 1%, #083268 100%);
     background: -moz-linear-gradient(top, #2b29b3 1%, #083268 100%);
     background: -o-linear-gradient(top, #2b29b3 1%, #083268 100%);
     background: -ms-linear-gradient(top, #2b29b3 1%, #083268 100%);
     background: linear-gradient(to bottom, #2b29b3 1%, #083268 100%);
  }
